@page "/"

<PageTitle>Login - OOP</PageTitle>

<h1>Welcome to Only Ordinary People Dating</h1>
<br />
<h3>Login</h3>
<br />
<input type="text" id="AccountName" class="form-control" placeholder="Account Name"/> <br />
<input type="password" id="Password" class="form-control" placeholder="Password" /> <br />
<button type="submit" class="btn btn-primary">Login</button>
<button type="submit" class="btn btn-primary">Opret</button>

@code{

}