@page "/"

<PageTitle>Welcome</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Greetings @context.User.Identity.Name</h1>
    </Authorized>
    <NotAuthorized>
        <h1>
            <h1>Welcome to Only Ordinary People Dating</h1>
            To enter this holy dungeon of OOP, either login or enlist yourself to this epic adventure, and begin your journey towards the one thing we all seek - <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank">euphoria</a>.
        </h1>
    </NotAuthorized>
</AuthorizeView>

@code{
    //[CascadingParameter]
    //private Task<AuthenticationState> authenticationState { get; set; }
    
}