@page "/login"
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject IJSRuntime js
@inject IAccountService accountService

<PageTitle>Login - OOP</PageTitle>

<h3>Login</h3>
<br />
<input @bind="account.AccountName" class="form-control" placeholder="Account Name" />
<br />
<input @bind="account.Password" type="password" id="Password" class="form-control" placeholder="Password" />
<br />
<button @onclick="Authenticate" class="btn btn-primary">Login</button>

@code {
    Account account = new();

    private async Task Authenticate()
    {
        if(string.IsNullOrWhiteSpace(account.AccountName) || string.IsNullOrWhiteSpace(account.Password))
        {
            await js.InvokeVoidAsync("alert", "Please enter Account Name and Password");
            return;
        }

        var userAccount = accountService.GetAccount(account.AccountName);

        if(userAccount == null || userAccount.Password != account.Password)
        {
            await js.InvokeVoidAsync("alert", "Invalid Account Name or Password");
            return;
        }

        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(new Account
        {
            AccountName = userAccount.AccountName
        });

        navManager.NavigateTo("/", true);
    }
}
