@inherits LayoutComponentBase

<PageTitle>OOPDating</PageTitle>

<div class="page">

    <div class="sidebar">
        <br />
        <h3>OOP LOGIN</h3>
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
